[submodule "06_FlexBox_28_11_2024/homeworks/06_FlexBox_28_11_2024/homeworks/homework_06"]
	path = 06_FlexBox_28_11_2024/homeworks/06_FlexBox_28_11_2024/homeworks/homework_06
	url = https://github.com/Olha011999/Frontend-2024.git
